<footer>
 <div class="grid footer-wrapper">
  <div class="col-3 firstcol">
   <h4>Get to know us</h4>
   <a href="">About Us</a><br>
   <a href="">FAQs</a>
   <h6>Social Media</h6>
   <div class="social-media">
    <a class="social-link" href="#"><i class="pi pi-facebook"></i></a>
    <a class="social-link" href="#"><i class="pi pi-twitter"></i></a>
    <a class="social-link" href="#"><i class="pi pi-youtube"></i></a>
   </div>
  </div>

  <div class="col-4 secondcol">
   <h4>Contact Info</h4>
   <p>Address : Cph, Denmark</p>
   <p>Email: <a href=""> Nepa@made.dk</a></p>
   <p>CVR :00000000</p>
  </div>

  <div class="col-4 thirdcol">
   <h4>Legal</h4>
   <a href="">Terms and conditions</a><br>
   <a href="">Privacy policy</a><br>
   <a href="">Return policy</a><br>
   <a href="">Cookie policy</a>
  </div>
  <div class="auth-payment">
   <div class="auth">
    <p> &copy; 2022 - Present Nepa Made</p>
   </div>
   <div class="paymentacceptimg">
    <img src="assets/images/payment-accept.png" alt="" height="80%" width="145%" />
   </div>
  </div>

 </div>



</footer>